.main-search-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 30px;
}

.search-container h1 {
  font-weight: bold;
  text-align: left;
  color: #000;
  /* margin: 50px 0; */
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 43px 40px;
  background-color: #e6f7ff;
  border-radius: 5px;
  margin: 20px auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.search-input {
  background-color: #fff;
  border: 1px solid #8c8c8c;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  height: 40px;
  width: 240px;
  margin-bottom: 25px;
}

.search-input::placeholder {
  color: #d3cccc;
  text-align: start;
  padding: 10px;
}

.search-button {
  height: 40px;
  width: 100%;
  margin-bottom: 35px;
  color: #fff;
}

@media (min-width: 576px) {
  .search-input {
    width: 480px;
  }
}

@media (min-width: 992px) {
  .search-container {
    align-items: flex-start;
    justify-content: space-around;
  }

  .search-button {
    width: 200px;
  }

  .list-group {
    width: 870px;
  }
}
