.main-result-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
}

.result-container h1 {
  font-weight: bold;
  text-align: left;
  color: #000;
}

.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.empty-image-container {
  padding: 15px;
}

.empty-image-container img {
  width: 28vh;
  height: auto;
  border-radius: 4px;
}

.information-container {
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  padding: 40px 30px;
  height: auto;
}

.information-container h4 {
  font-weight: 500;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.div-container-row {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  height: auto;
  padding: 10px;
  color: #737373;
  margin: 4px 16px;
  width: 200px;
}

@media (min-width: 992px) {
  .result-container {
    flex-direction: row;
    padding: 43px 40px;
  }

  .information-container {
    padding: 8px 14px;
    align-items: flex-start;
    justify-content: space-around;
  }

  .div-container-row {
    height: 40px;
  }

  .card-content {
    display: flex;
    width: 100%;
  }
}

@media (min-width: 475px) {
  .div-container-row {
    width: max-content;
  }

  .card-content {
    display: flex;
    width: 90%;
  }


}
